@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
