@mixin button {
  @apply font-stylish border-4 px-8 py-4 text-2xl font-bold tracking-[0.08em];

  @include outline-none;

  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transition: box-shadow 0.25s ease, transform 0.25s ease,
      -webkit-transform 0.25s ease;
  }
}

@mixin primary-button {
  @apply bg-pollux-cyan border-pollux-cyan text-gray-100 hover:bg-pollux-cyan-light hover:border-pollux-cyan-light hover:text-gray-800;
}

@mixin secondary-button {
  @apply text-gray-200 dark:text-gray-800 bg-gray-800 dark:bg-gray-200 border-gray-800 dark:border-gray-200
    hover:text-gray-800 dark:hover:text-gray-100 hover:bg-gray-400 dark:hover:bg-gray-600 hover:border-gray-400 dark:hover:border-gray-600;
}

.button {
  @include button;

  &--primary {
    @include primary-button;

    &:hover {
      @apply shadow-[0_0_20px_0] shadow-pollux-cyan-light;
    }
  }

  &--secondary {
    @include secondary-button;

    &:hover {
      @apply shadow-[0_0_20px_0] shadow-gray-400 dark:shadow-gray-600;
    }
  }

  &--outline {
    @apply text-gray-800 dark:text-white hover:text-white dark:hover:text-gray-900
      bg-transparent hover:bg-gray-800 dark:hover:bg-white border-gray-800 dark:border-white;

    &:hover {
      @apply shadow-[0_0_20px_0] shadow-gray-800 dark:shadow-white;
    }
  }
}
