@mixin button {
  @apply border-4 px-8 py-4 font-stylish text-2xl font-bold tracking-[0.08em];

  @include outline-none;

  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transition: box-shadow 0.25s ease, transform 0.25s ease,
      -webkit-transform 0.25s ease;
  }
}

@mixin primary-button {
  @apply border-pollux-cyan bg-pollux-cyan text-gray-100 hover:border-pollux-cyan-light hover:bg-pollux-cyan-light hover:text-gray-800;
}

@mixin secondary-button {
  @apply border-gray-800 bg-gray-800 text-gray-200 hover:border-gray-400 hover:bg-gray-400 hover:text-gray-800
    dark:border-gray-200 dark:bg-gray-200 dark:text-gray-800 dark:hover:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-gray-100;
}

.button {
  @include button;

  &--primary {
    @include primary-button;

    &:hover {
      @apply shadow-[0_0_20px_0] shadow-pollux-cyan-light;
    }
  }

  &--secondary {
    @include secondary-button;

    &:hover {
      @apply shadow-[0_0_20px_0] shadow-gray-400 dark:shadow-gray-600;
    }
  }

  &--outline {
    @apply border-gray-800 bg-transparent text-gray-800 hover:bg-gray-800
      hover:text-white dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-gray-900;

    &:hover {
      @apply shadow-[0_0_20px_0] shadow-gray-800 dark:shadow-white;
    }
  }
}
