.title {
  @apply font-title uppercase text-4xl font-bold px-8 mb-8 tracking-[0.08rem];
}

.subtitle {
  @apply font-title uppercase text-xl font-semibold mb-4 tracking-[0.08rem];
}

.route {
  @apply font-mono font-bold text-xl tracking-wider leading-loose cursor-pointer;

  &--underline {
    @apply relative overflow-hidden;

    &::after {
      content: "";
      @apply absolute bottom-0 left-0 w-full h-[0.1em] rounded-sm bg-pollux-cyan;
      transition: transform 500ms;
      transform: translate3d(-100%, 0, 0);
    }

    &:hover,
    &:focus {
      &::after {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.line-block {
  width: 2rem;
  height: 0.2rem;
  @apply rounded-sm bg-gray-800 dark:bg-gray-200 mb-6;
}

.float-section-line {
  @apply absolute rounded-sm bg-gray-800 dark:bg-gray-200 mb-6;

  width: 2rem;
  height: 0.2rem;
  transform: rotate(90deg);
  top: 2.25rem;
  left: -1rem;
}

a {
  &:focus,
  &:focus-visible,
  &:focus-within {
    @apply outline-1 outline-dashed outline-gray-800 dark:outline-gray-200;
  }
}
