/* Hero */
.hero {
  &--titles {
    @apply text-gray-200 dark:text-gray-200 xl:text-gray-800;

    h1 {
      @apply font-title mb-2 text-5xl font-black uppercase text-pollux-cyan lg:mb-6 lg:text-7xl;
    }

    h2 {
      @apply font-title text-xl font-bold uppercase lg:text-3xl;
    }

    p {
      @apply mb-8 font-light lg:text-2xl;
    }

    .animate-in {
      opacity: 0;
      animation: fade-in-right 0.5s ease forwards;
      animation-delay: calc(var(--order) * 200ms + 4 * 200ms);
    }
  }

  &--title {
    opacity: 0;
    animation: zoom-in-up 0.5s ease forwards;
    animation-delay: calc(var(--order) * 200ms);
  }

  &--wrapper {
    min-height: calc(100vh - 8rem);
  }
}
