@mixin input {
  @apply appearance-none rounded-none border-2 border-white px-6 py-4 text-2xl leading-tight text-gray-800 shadow outline-0 dark:border-black-light;
}

form {
  textarea,
  input[type='text'],
  input[type='email'],
  input[type='date'],
  select {
    @include input;
  }

  select {
    @apply bg-white text-gray-400;

    option {
      @apply bg-white text-gray-800;

      &:disabled {
        @apply text-gray-400;
      }
    }
  }

  textarea {
    @apply resize-none;
  }

  input[type='checkbox'] {
    @apply relative h-6 w-6 cursor-pointer appearance-none outline-0;

    & ~ span,
    & ~ label {
      @apply cursor-pointer text-xl;
    }

    &::before {
      content: '';

      @apply absolute left-0 top-0 h-6 w-6 border-2 border-solid border-gray-800 bg-transparent dark:border-gray-200;
    }

    &:checked::after {
      content: '';

      @apply absolute border-b-2 border-r-2 border-solid border-gray-800 dark:border-gray-200;
      @apply left-3 top-[-0.5rem] h-7 w-3 rotate-45;
    }
  }

  input#file-upload-button {
    display: none;
  }
}
