@-webkit-keyframes carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100vw * 2.2));
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100vw * 2.2));
  }
}

.slider {
  @apply overflow-hidden w-full p-0;

  &--swipe-track {
    @apply cursor-[grab] flex flex-row;
  }

  &--carousel-track {
    @apply flex flex-row;

    -webkit-animation: carousel 20s linear infinite;
    animation: carousel 20s linear infinite;
  }
}
