@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: theme('colors.pollux-cyan.DEFAULT');
    --color-primary-light: theme('colors.pollux-cyan.light');
    --color-primary-dark: theme('colors.pollux-cyan.dark');
    --color-accent: theme('colors.pollux-pink.DEFAULT');
    --color-accent-light: theme('colors.pollux-pink.light');
    --color-accent-dark: theme('colors.pollux-pink.dark');
    --color-secondary: theme('colors.white');
    --color-secondary-dark: theme('colors.black.light');
  }

  .font-title {
    @apply font-serif;
  }

  .title-gradient {
    background: linear-gradient(
      45deg,
      theme('colors.pollux-cyan.light'),
      theme('colors.pollux-cyan.dark') 80%
    );
    background-size: 150%;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .lines-2 {
    word-spacing: 100vw;
  }
}

@layer components {
  /* Button Components */
  .button {
    @apply border-4 px-8 py-4 font-stylish text-2xl font-bold tracking-[0.08em] outline-0;
  }

  .button:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transition:
      box-shadow 0.25s ease,
      transform 0.25s ease,
      -webkit-transform 0.25s ease;
  }

  .button-pollux-cyan {
    @apply border-pollux-cyan bg-pollux-cyan text-white;
    @apply hover:border-pollux-cyan-light hover:bg-pollux-cyan-light hover:text-gray-800;
  }

  .button-black {
    @apply border-gray-800 bg-gray-800 text-white hover:border-gray-400 hover:bg-gray-400 hover:text-gray-800;
  }

  .button-white {
    @apply border-gray-100 bg-gray-100 text-gray-800 hover:border-gray-600 hover:bg-gray-600 hover:text-gray-100;
  }

  .button-black-outline {
    @apply border-gray-800 bg-transparent text-gray-800 hover:bg-gray-800 hover:text-white;
  }

  .button-white-outline {
    @apply border-white bg-transparent text-white hover:bg-white hover:text-gray-900;
  }

  .button-reflex {
    @apply shadow-[0_0_20px_0];
  }

  .button-cyan-reflex {
    @apply shadow-pollux-cyan-light;
  }

  .button-white-reflex {
    @apply shadow-white;
  }

  .button-light-reflex {
    @apply shadow-gray-200;
  }

  .button-dark-reflex {
    @apply shadow-gray-400;
  }

  .button-darker-reflex {
    @apply shadow-gray-600;
  }

  .button-darkest-reflex {
    @apply shadow-gray-800;
  }

  .button-primary {
    @apply button-pollux-cyan hover:button-reflex hover:button-cyan-reflex;
  }

  .button-secondary {
    @apply button-black hover:button-reflex hover:button-dark-reflex;
  }

  .button-secondary-dark {
    @apply button-white hover:button-reflex hover:button-dark-reflex;
  }

  .button-outline {
    @apply button-black-outline hover:button-reflex hover:button-darkest-reflex;
  }

  .button-outline-dark {
    @apply button-white-outline hover:button-reflex hover:button-white-reflex;
  }

  .button:disabled {
    @apply !border-gray-400 !bg-gray-400 !text-gray-800;

    transform: none !important;
    box-shadow: none !important;
  }
}
