@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-title {
    @apply font-serif;
  }

  .title-gradient {
    background: -webkit-linear-gradient(
      45deg,
      theme("colors.pollux-cyan.light"),
      theme("colors.pollux-cyan.dark") 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
